.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 30px 15px;
}

.social-media {
    margin: 0 10px;
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
}

header {
    text-align: center;
    padding: 50px;
    background: dimgray;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Stellt sicher, dass der Header über anderen Inhalten liegt */
}

.link {
    text-decoration: none;
}

.lang-button {
    background: none;
}

.download-cv {
    text-decoration: none;
}

.project-links {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}

.contacts {
    text-decoration: none;
}

.quote {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.quote-background {
    background: black;
    padding: 0 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.social-media {
    text-decoration: none;
    margin-right: 20px;
}

.footer-links {
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.copyright {
    text-align: center;
}

.link:hover,
.project-links:hover,
.contacts:hover,
.social-media:hover,
.footer-links:hover {
    color: white;
}