.link {
    text-decoration: none;
}

.lang-button {
    background: none;
}

.download-cv {
    text-decoration: none;
}

.project-links {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}

.contacts {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.social-media {
    text-decoration: none;
    margin-right: 20px;
}

.footer-links {
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.copyright {
    text-align: center;
}

.link:hover,
.project-links:hover,
.contacts:hover,
.social-media:hover,
.footer-links:hover {
    color: white;
}