.link {
    text-decoration: none;
}

.qr-code {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120px;
    z-index: 999;
}

.download-cv {
    text-decoration: none;
}

.project-links {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}

.contacts {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.text-block {
    width: 30%;
    /* Anpassen der Breite nach Bedarf */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.social-media {
    text-decoration: none;
    margin-right: 20px;
}

.footer-links {
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.lang-button {
    width: 30%;
    /* Passen Sie die Breite nach Bedarf an */
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
}

.copyright {
    text-align: center;
}

.link:hover,
.project-links:hover,
.contacts:hover,
.social-media:hover,
.footer-links:hover {
    color: white;
}

/*d*/